body {
 width: 100%;
 height: 100%;  
 font-family: 'Open Sans', sans-serif; font-size: 12px;
 }

.header {
  /**position: fixed;**/
  width: 100%;
  border: 0px;
  top: 0px;
  right: 0px;
  z-index: 100px;
  font-size: 14px;
  font-family: 'Open-Sans', sans-serif;
  color: #FFFFFF;
}

.sidebar {
 display: inline;
 width: 20%;
 float: left;
 background-color: #add8e6;
 height: 65%;
 top:20%;
}

.article {
    border-color: #bebebe;
    color: blue;
    display: block;
    font-family: "Open-Sans",sans-serif;
    font-size: 10px;
    margin-left: 0;
    padding: 4% 10%;
    top: 10%;
    width: 75%;
    z-index: 1;
}
.article h2 {
  color: #000000;
    font-size: 14px;
    padding-top: 12px;
}

.article span {
  color: #000;
  font-size: 12px;
}
.article a{
  font-size: 11px;
}

table{
  font-size: 12px;
}
.footer {
  width: 100%;
  font-size: 10px;
  font-family: 'Open-Sans', sans-serif;
  background: #4682B4; 
  /*color: #000000;*/
}
#box {
   color = blue;

}

#telefone { 
 margin-left:2%;
  top:20%; 
  width:96%; 
  z-index:1; 
  overflow: ;

  border: 1px solid #000;
  background-color: ;
}

.elink:hover {
  background-color: #9FB6CD;
  color: blue;
  text-decoration: underline;
}

.borda{
  border: none;
}

.btn{padding: 7px 22px; border: 1px solid #eee; background: #fbfbfb; font-weight: bold;}
.btn{cursor: pointer; font-size: 0.8em; color: #fff;}
.firebrick {background: #000080; border-radius: 10px 10px}
.firebrick:hover{background: #CD5C5C; border-radius: 10px 10px}

ul{list-style:none; margin-left:300px;}

ul li{display:inline; margin-right:50px;}

.paginacao a{color:#333; padding:3px 5px; border:1px solid #ccc; text-decoration:none; margin:0 3px;}

.paginacao a:hover{background:#333; color:#fff;}

.paginacao a.atual{font-weight:bold; background:#fff; color:#333; border:0; border-bottom:1px solid #ccc; font-size:1.6em;}
